@keyframes fadeInMessage { // Contact Submission Thank You Animation
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.contact {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: rgba(var(--contact-color-1), 1);
  display: grid;
  grid-auto-rows: auto;
  
  padding: 6.9rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  
  @media screen and (min-width: 481px) {padding: 7.7rem;}
  @media screen and (min-width: 721px) {padding: 8.6rem;}
  @media screen and (min-width: 961px) {padding: 9.4rem; grid-template-columns: 1fr 1fr; grid-template-rows: auto 1fr;}
  @media screen and (min-width: 1201px) {padding: 10.3rem;}
  @media screen and (min-width: 1441px) {padding: 11.1rem;}
  @media screen and (min-width: 1681px) {padding: 12rem;}
  @media screen and (min-width: 1921px) {padding: 13.5rem;}
  @media screen and (min-width: 2161px) {padding: 15rem;}
  @media screen and (min-width: 2401px) {padding: 16.5rem;}
  @media screen and (min-width: 2641px) {padding: 18rem;}
  @media screen and (min-width: 2881px) {padding: 19.5rem;}
  @media screen and (min-width: 3121px) {padding: 21rem;}
  @media screen and (min-width: 3361px) {padding: 22.5rem;}
  @media screen and (min-width: 3601px) {padding: 24rem;}

  

  .title {
    font-weight: 650;
    filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, .6));
    color: rgba(var(--contact-color-2), 1);

    font-size: 4.5rem;
    grid-column: 1 / -1;
    margin: 0 auto;
    
    @media screen and (min-width: 481px) {font-size: 5.8rem;}
    @media screen and (min-width: 721px) {font-size: 6.4rem;}
    @media screen and (min-width: 961px) {font-size: 7.1rem; grid-column: 1 / 2; margin: 0;}
    @media screen and (min-width: 1201px) {font-size: 7.7rem;}
    @media screen and (min-width: 1441px) {font-size: 8.4rem;}
    @media screen and (min-width: 1681px) {font-size: 9rem;}
    @media screen and (min-width: 1921px) {font-size: 10.1rem;}
    @media screen and (min-width: 2161px) {font-size: 11.3rem;}
    @media screen and (min-width: 2401px) {font-size: 12.4rem;}
    @media screen and (min-width: 2641px) {font-size: 13.5rem;}
    @media screen and (min-width: 2881px) {font-size: 14.6rem;}
    @media screen and (min-width: 3121px) {font-size: 15.8rem;}
    @media screen and (min-width: 3361px) {font-size: 16.9rem;}
    @media screen and (min-width: 3601px) {font-size: 18rem;}

    &::selection {
      background-color: rgba(var(--contact-color-2), 1);
      color:  rgba(var(--contact-color-1), 1);
    }
  }

  .contact-form {
    margin: 3.4rem 0rem 0 0;
    grid-column: 1 / -1;
    order: 1;

    @media screen and (min-width: 481px) {margin: 3.9rem 0rem 0 0;}
    @media screen and (min-width: 721px) {margin: 4.3rem 0rem 0 0;}
    @media screen and (min-width: 961px) {margin: 0 4.7rem 0 0; grid-column: 1 / 2; order: 0;}
    @media screen and (min-width: 1201px) {margin: 0 5.1rem 0 0;}
    @media screen and (min-width: 1441px) {margin: 0 5.6rem 0 0;}
    @media screen and (min-width: 1681px) {margin: 0 6rem 0 0; }
    @media screen and (min-width: 1921px) {margin: 0 6.8rem 0 0;}
    @media screen and (min-width: 2161px) {margin: 0 7.5rem 0 0;}
    @media screen and (min-width: 2401px) {margin: 0 8.3rem 0 0;}
    @media screen and (min-width: 2641px) {margin: 0 9rem 0 0;}
    @media screen and (min-width: 2881px) {margin: 0 9.8rem 0 0;}
    @media screen and (min-width: 3121px) {margin: 0 10.5rem 0 0;}
    @media screen and (min-width: 3361px) {margin: 0 11.3rem 0 0;}
    @media screen and (min-width: 3601px) {margin: 0 12rem 0 0;}

    .form-group {
      margin: 2.9rem 0 0 0;

      @media screen and (min-width: 481px) {margin: 3.2rem 0 0 0;}
      @media screen and (min-width: 721px) {margin: 3.6rem 0 0 0;}
      @media screen and (min-width: 961px) {margin: 3.9rem 0 0 0;}
      @media screen and (min-width: 1201px) {margin: 4.3rem 0 0 0;}
      @media screen and (min-width: 1441px) {margin: 4.6rem 0 0 0;}
      @media screen and (min-width: 1681px) {margin: 5rem 0 0 0;}
      @media screen and (min-width: 1921px) {margin: 5.6rem 0 0 0;}
      @media screen and (min-width: 2161px) {margin: 6.3rem 0 0 0;}
      @media screen and (min-width: 2401px) {margin: 6.9rem 0 0 0;}
      @media screen and (min-width: 2641px) {margin: 7.5rem 0 0 0;}
      @media screen and (min-width: 2881px) {margin: 8.1rem 0 0 0;}
      @media screen and (min-width: 3121px) {margin: 8.8rem 0 0 0;}
      @media screen and (min-width: 3361px) {margin: 9.4rem 0 0 0;}
      @media screen and (min-width: 3601px) {margin: 10rem 0 0 0;}

      label {
        font-weight: 450;
        color: rgba(var(--contact-color-3), 1);

        font-size: 1.6rem;

        @media screen and (min-width: 481px) {font-size: 1.7rem;}
        @media screen and (min-width: 721px) {font-size: 1.8rem;}
        @media screen and (min-width: 961px) {font-size: 1.8rem;}
        @media screen and (min-width: 1201px) {font-size: 1.9rem;}
        @media screen and (min-width: 1441px) {font-size: 2rem;}
        @media screen and (min-width: 1681px) {font-size: 2.1rem;}
        @media screen and (min-width: 1921px) {font-size: 2.4rem;}
        @media screen and (min-width: 2161px) {font-size: 2.6rem;}
        @media screen and (min-width: 2401px) {font-size: 2.9rem;}
        @media screen and (min-width: 2641px) {font-size: 3.2rem;}
        @media screen and (min-width: 2881px) {font-size: 3.4rem;}
        @media screen and (min-width: 3121px) {font-size: 3.7rem;}
        @media screen and (min-width: 3361px) {font-size: 3.9rem;}
        @media screen and (min-width: 3601px) {font-size: 4.2rem;}

        &::selection {
          background-color: rgba(var(--contact-color-2), 1);
          color:  rgba(var(--contact-color-1), 1);
        }

        span::selection {
          background-color: rgba(var(--contact-color-2), 1);
          color:  rgba(var(--contact-color-1), 1);
        }
      }

      input {
        background-color: rgba(var(--contact-color-4), 1);
        color: rgba(var(--contact-color-3), 1);
        border: none;
        width: 100%;
        font-weight: 450;

        padding: 0.6rem;
        margin: .2rem 0 0 0;
        font-size: 1.6rem;

        @media screen and (min-width: 481px) {padding: 0.6rem; margin: 0.3rem 0 0 0; font-size: 1.7rem;}
        @media screen and (min-width: 721px) {padding: 0.7rem; margin: 0.3rem 0 0 0; ont-size: 1.8rem;}
        @media screen and (min-width: 961px) {padding: 0.8rem; margin: 0.3rem 0 0 0; font-size: 1.8rem;}
        @media screen and (min-width: 1201px) {padding: 0.9rem; margin: 0.3rem 0 0 0; font-size: 1.9rem;}
        @media screen and (min-width: 1441px) {padding: 0.9rem; margin: 0.4rem 0 0 0; font-size: 2rem;}
        @media screen and (min-width: 1681px) {padding: 1rem; margin: 0.4rem 0 0 0; font-size: 2.1rem;}
        @media screen and (min-width: 1921px) {padding: 1.1rem; margin: 0.5rem 0 0 0; font-size: 2.4rem;}
        @media screen and (min-width: 2161px) {padding: 1.3rem; margin: 0.5rem 0 0 0; font-size: 2.6rem;}
        @media screen and (min-width: 2401px) {padding: 1.4rem; margin: 0.6rem 0 0 0; font-size: 2.9rem;}
        @media screen and (min-width: 2641px) {padding: 1.5rem; margin: 0.6rem 0 0 0; font-size: 3.2rem;}
        @media screen and (min-width: 2881px) {padding: 1.6rem; margin: 0.7rem 0 0 0; font-size: 3.4rem;}
        @media screen and (min-width: 3121px) {padding: 1.8rem; margin: 0.7rem 0 0 0; font-size: 3.7rem;}
        @media screen and (min-width: 3361px) {padding: 1.9rem; margin: 0.8rem 0 0 0; font-size: 3.9rem;}
        @media screen and (min-width: 3601px) {padding: 2rem; margin: 0.8rem 0 0 0; font-size: 4.2rem;}
      }

      .email-validator {
        font-weight: 450;
        color: rgba(var(--contact-color-3), 1);

        font-size: 1.6rem;

        @media screen and (min-width: 1681px) {font-size: 1.6rem;}
        @media screen and (min-width: 1921px) {font-size: 1.8rem;}
        @media screen and (min-width: 2161px) {font-size: 2.0rem;}
        @media screen and (min-width: 2401px) {font-size: 2.2rem;}
        @media screen and (min-width: 2641px) {font-size: 2.4rem;}
        @media screen and (min-width: 2881px) {font-size: 2.6rem;}
        @media screen and (min-width: 3121px) {font-size: 2.8rem;}
        @media screen and (min-width: 3361px) {font-size: 3.0rem;}
        @media screen and (min-width: 3601px) {font-size: 3.2rem;}
      }

      textarea {
        background-color: rgba(var(--contact-color-4), 1);
        color: rgba(var(--contact-color-3), 1);
        border: none;
        width: 100%;
        font-weight: 450;
        line-height: 1.7;

        padding: 0.6rem;
        margin: 0.2rem 0 0 0;
        font-size: 1.6rem;

        @media screen and (min-width: 481px) {padding: 0.6rem; margin: 0.3rem 0 0 0; font-size: 1.7rem;}
        @media screen and (min-width: 721px) {padding: 0.7rem; margin: 0.3rem 0 0 0; font-size: 1.8rem;}
        @media screen and (min-width: 961px) {padding: 0.8rem; margin: 0.3rem 0 0 0; font-size: 1.8rem;}
        @media screen and (min-width: 1201px) {padding: 0.9rem; margin: 0.3rem 0 0 0; font-size: 1.9rem;}
        @media screen and (min-width: 1441px) {padding: 0.9rem; margin: 0.4rem 0 0 0; font-size: 2rem;}
        @media screen and (min-width: 1681px) {padding: 1rem; margin: 0.4rem 0 0 0; font-size: 2.1rem;}
        @media screen and (min-width: 1921px) {padding: 1.1rem; margin: 0.5rem 0 0 0; font-size: 2.4rem;}
        @media screen and (min-width: 2161px) {padding: 1.3rem; margin: 0.5rem 0 0 0; font-size: 2.6rem;}
        @media screen and (min-width: 2401px) {padding: 1.4rem; margin: 0.6rem 0 0 0; font-size: 2.9rem;}
        @media screen and (min-width: 2641px) {padding: 1.5rem; margin: 0.6rem 0 0 0; font-size: 3.2rem;}
        @media screen and (min-width: 2881px) {padding: 1.6rem; margin: 0.7rem 0 0 0; font-size: 3.4rem;}
        @media screen and (min-width: 3121px) {padding: 1.8rem; margin: 0.7rem 0 0 0; font-size: 3.7rem;}
        @media screen and (min-width: 3361px) {padding: 1.9rem; margin: 0.8rem 0 0 0; font-size: 3.9rem;}
        @media screen and (min-width: 3601px) {padding: 2rem; margin: 0.8rem 0 0 0; font-size: 4.2rem;}
      }
      
      .honeypot {
        display: none;
      }
    }

    .buttons {
      text-align: right;

      .form-button {
        font-weight: 600;
        transition: color 0.2s ease;
        position: relative;
        z-index: 1;
        color: rgba(var(--contact-color-3), 1);
        overflow: hidden;
        
        font-size: 1.6rem;
        padding: 1rem;
        border: 2px solid rgba(var(--contact-color-3), 1);
        margin-left: 0.6rem;
        
        
        @media screen and (min-width: 481px) {font-size: 1.6rem; padding: 1.1rem; border: 2px solid rgba(var(--contact-color-3), 1); margin-left: 0.6rem;}
        @media screen and (min-width: 721px) {font-size: 1.7rem; padding: 1.2rem; border: 2px solid rgba(var(--contact-color-3), 1); margin-left: 0.7rem;}
        @media screen and (min-width: 961px) {font-size: 1.7rem; padding: 1.3rem; border: 2px solid rgba(var(--contact-color-3), 1); margin-left: 0.8rem;}
        @media screen and (min-width: 1201px) {font-size: 1.7rem; padding: 1.5rem; border: 2px solid rgba(var(--contact-color-3), 1); margin-left: 0.9rem;}
        @media screen and (min-width: 1441px) {font-size: 1.8rem; padding: 1.6rem; border: 2px solid rgba(var(--contact-color-3), 1); margin-left: 0.9rem;}
        @media screen and (min-width: 1681px) {font-size: 1.8rem; padding: 1.7rem; border: 2px solid rgba(var(--contact-color-3), 1); margin-left: 1rem;}
        @media screen and (min-width: 1921px) {font-size: 2.0rem; padding: 1.9rem; border: 2px solid rgba(var(--contact-color-3), 1); margin-left: 1.1rem;}
        @media screen and (min-width: 2161px) {font-size: 2.3rem; padding: 2.1rem; border: 3px solid rgba(var(--contact-color-3), 1); margin-left: 1.3rem;}
        @media screen and (min-width: 2401px) {font-size: 2.5rem; padding: 2.3rem; border: 3px solid rgba(var(--contact-color-3), 1); margin-left: 1.4rem;}
        @media screen and (min-width: 2641px) {font-size: 2.7rem; padding: 2.6rem; border: 3px solid rgba(var(--contact-color-3), 1); margin-left: 1.5rem;}
        @media screen and (min-width: 2881px) {font-size: 2.9rem; padding: 2.8rem; border: 3px solid rgba(var(--contact-color-3), 1); margin-left: 1.6rem;}
        @media screen and (min-width: 3121px) {font-size: 3.2rem; padding: 3.0rem; border: 4px solid rgba(var(--contact-color-3), 1); margin-left: 1.8rem;}
        @media screen and (min-width: 3361px) {font-size: 3.4rem; padding: 3.2rem; border: 4px solid rgba(var(--contact-color-3), 1); margin-left: 1.9rem;}
        @media screen and (min-width: 3601px) {font-size: 3.6rem; padding: 3.4rem; border: 4px solid rgba(var(--contact-color-3), 1); margin-left: 2rem;}

        &::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          right:0;
          bottom: 0;
          background-color: rgba(var(--contact-color-3), 1);
          z-index: -1;
          transform: translateX(-100%);
          transition: transform 0.2s ease;
        }

        &::selection {
          background-color: rgba(var(--contact-color-2), 1);
          color:  rgba(var(--contact-color-1), 1);
        }

        &:hover {
          color: rgba(var(--contact-color-1), 1);
          cursor: pointer;

          &::before {
            transform: translateX(0%);
          }
        }
      }
    }
  }

  .contact-details {
    margin: 3.4rem 0rem 0 0;

    @media screen and (min-width: 481px) {margin: 3.9rem 0rem 0 0;}
    @media screen and (min-width: 721px) {margin: 4.3rem 0rem 0 0;}
    @media screen and (min-width: 961px) {margin: 4.7rem 0 0 4.7rem;}
    @media screen and (min-width: 1201px) {margin: 5.1rem 0 0 5.1rem;}
    @media screen and (min-width: 1441px) {margin: 5.6rem 0 0 5.6rem;}
    @media screen and (min-width: 1681px) {margin: 6rem 0 0 6rem; }
    @media screen and (min-width: 1921px) {margin: 6.8rem 0 0 6.8rem;}
    @media screen and (min-width: 2161px) {margin: 7.5rem 0 0 7.5rem;}
    @media screen and (min-width: 2401px) {margin: 8.3rem 0 0 8.3rem;}
    @media screen and (min-width: 2641px) {margin: 9rem 0 0 9rem;}
    @media screen and (min-width: 2881px) {margin: 9.8rem 0 0 9.8rem;}
    @media screen and (min-width: 3121px) {margin: 10.5rem 0 0 10.5rem;}
    @media screen and (min-width: 3361px) {margin: 11.3rem 0 0 11.3rem;}
    @media screen and (min-width: 3601px) {margin: 12rem 0 0 12rem;}

    .contact-description {
      line-height: 1.7;
      font-weight: 500;
      color: rgba(var(--contact-color-3), 1);

      font-size: 1.6rem;

      @media screen and (min-width: 481px) {font-size: 1.7rem;}
      @media screen and (min-width: 721px) {font-size: 1.8rem;}
      @media screen and (min-width: 961px) {font-size: 1.8rem;}
      @media screen and (min-width: 1201px) {font-size: 1.9rem;}
      @media screen and (min-width: 1441px) {font-size: 2rem;}
      @media screen and (min-width: 1681px) {font-size: 2.1rem;}
      @media screen and (min-width: 1921px) {font-size: 2.4rem;}
      @media screen and (min-width: 2161px) {font-size: 2.6rem;}
      @media screen and (min-width: 2401px) {font-size: 2.9rem;}
      @media screen and (min-width: 2641px) {font-size: 3.2rem;}
      @media screen and (min-width: 2881px) {font-size: 3.4rem;}
      @media screen and (min-width: 3121px) {font-size: 3.7rem;}
      @media screen and (min-width: 3361px) {font-size: 3.9rem;}
      @media screen and (min-width: 3601px) {font-size: 4.2rem;}

      &::selection {
        background-color: rgba(var(--contact-color-2), 1);
        color:  rgba(var(--contact-color-1), 1);
      }
    }

    .contact-icons {
      display: flex;

      margin: 2.3rem 0 0 0;

        @media screen and (min-width: 481px) {margin: 2.6rem 0 0 0;}
        @media screen and (min-width: 721px) {margin: 2.9rem 0 0 0;}
        @media screen and (min-width: 961px) {margin: 3.1rem 0 0 0;}
        @media screen and (min-width: 1201px) {margin: 3.4rem 0 0 0;}
        @media screen and (min-width: 1441px) {margin: 3.7rem 0 0 0;}
        @media screen and (min-width: 1681px) {margin: 4rem 0 0 0;}
        @media screen and (min-width: 1921px) {margin: 4.5rem 0 0 0;}
        @media screen and (min-width: 2161px) {margin: 5rem 0 0 0;}
        @media screen and (min-width: 2401px) {margin: 5.5rem 0 0 0;}
        @media screen and (min-width: 2641px) {margin: 6rem 0 0 0;}
        @media screen and (min-width: 2881px) {margin: 6.5rem 0 0 0;}
        @media screen and (min-width: 3121px) {margin: 7rem 0 0 0;}
        @media screen and (min-width: 3361px) {margin: 7.5rem 0 0 0;}
        @media screen and (min-width: 3601px) {margin: 8rem 0 0 0;}

      .icon {
        display: block;
        filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, .3));
        border: 1px solid rgba(var(--contact-color-2), 1);
        border-radius: 50%;
        padding: 1.2rem;
        margin-right: 2.4rem;
        color: rgba(var(--contact-color-2), 1);
        font-size: 2.4rem;
        transition: all .2s ease;

      @media screen and (min-width: 481px) {border: 1px solid rgba(var(--contact-color-2), 1); padding: 1.2rem; margin-right: 2.4rem; font-size: 2.5rem;}
      @media screen and (min-width: 721px) {border: 1px solid rgba(var(--contact-color-2), 1); padding: 1.2rem; margin-right: 2.4rem; font-size: 2.6rem;}
      @media screen and (min-width: 961px) {border: 1px solid rgba(var(--contact-color-2), 1); padding: 1.2rem; margin-right: 2.4rem; font-size: 2.7rem;}
      @media screen and (min-width: 1201px) {border: 2px solid rgba(var(--contact-color-2), 1); padding: 1.2rem; margin-right: 2.4rem; font-size: 2.8rem;}
      @media screen and (min-width: 1441px) {border: 2px solid rgba(var(--contact-color-2), 1); padding: 1.2rem; margin-right: 2.4rem; font-size: 2.9rem;}
      @media screen and (min-width: 1681px) {border: 3px solid rgba(var(--contact-color-2), 1); padding: 1.2rem; margin-right: 2.4rem; font-size: 3rem;}
      @media screen and (min-width: 1921px) {border: 3px solid rgba(var(--contact-color-2), 1); padding: 1.35rem; margin-right: 2.7rem; font-size: 3.375rem;}
      @media screen and (min-width: 2161px) {border: 3px solid rgba(var(--contact-color-2), 1); padding: 1.5rem; margin-right: 3.0rem; font-size: 3.75rem;}
      @media screen and (min-width: 2401px) {border: 4px solid rgba(var(--contact-color-2), 1); padding: 1.65rem; margin-right: 3.3rem; font-size: 4.125rem;}
      @media screen and (min-width: 2641px) {border: 4px solid rgba(var(--contact-color-2), 1); padding: 1.8rem; margin-right: 3.6rem; font-size: 4.5rem;}
      @media screen and (min-width: 2881px) {border: 4px solid rgba(var(--contact-color-2), 1); padding: 1.95rem; margin-right: 3.9rem; font-size: 4.875rem;}
      @media screen and (min-width: 3121px) {border: 5px solid rgba(var(--contact-color-2), 1); padding: 2.1rem; margin-right: 4.2rem; font-size: 5.25rem;}
      @media screen and (min-width: 3361px) {border: 5px solid rgba(var(--contact-color-2), 1); padding: 2.25rem; margin-right: 4.5rem; font-size: 5.625rem;}
      @media screen and (min-width: 3601px) {border: 6px solid rgba(var(--contact-color-2), 1); padding: 2.4rem; margin-right: 4.8rem; font-size: 6rem;}

        &:hover {
          cursor: pointer;
          background-color: rgba(var(--contact-color-2), 1);
          color: rgba(var(--contact-color-1), 1);
        }
      }
    }
  }
}

.feedback {
  position: relative;
  height: 100vh;
  background-color: rgba(var(--contact-color-1), 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

    .title {
      animation: fadeInMessage 4s ease;
      filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, .6));
      font-weight: 600;
      color: rgba(var(--contact-color-2), 1);

      font-size: 5.1rem;

      @media screen and (min-width: 481px) {font-size: 5.8rem;}
      @media screen and (min-width: 721px) {font-size: 6.4rem;}
      @media screen and (min-width: 961px) {font-size: 7.1rem;}
      @media screen and (min-width: 1201px) {font-size: 7.7rem;}
      @media screen and (min-width: 1441px) {font-size: 8.4rem;}
      @media screen and (min-width: 1681px) {font-size: 9rem;}
      @media screen and (min-width: 1921px) {font-size: 10.1rem;}
      @media screen and (min-width: 2161px) {font-size: 11.3rem;}
      @media screen and (min-width: 2401px) {font-size: 12.4rem;}
      @media screen and (min-width: 2641px) {font-size: 13.5rem;}
      @media screen and (min-width: 2881px) {font-size: 14.6rem;}
      @media screen and (min-width: 3121px) {font-size: 15.8rem;}
      @media screen and (min-width: 3361px) {font-size: 16.9rem;}
      @media screen and (min-width: 3601px) {font-size: 18rem;}

      &::selection {
        background-color: rgba(var(--contact-color-2), 1);
        color:  rgba(var(--contact-color-1), 1);
      }
    }

    .description {
      animation: fadeInMessage 4s ease;
      line-height: 1.7;
      font-weight: 500;
      color:  rgba(var(--contact-color-3), 1);

      font-size: 1.6rem;
      margin: 2.3rem 0 0 0;
      
      @media screen and (min-width: 481px) {font-size: 1.7rem;margin: 2.6rem 0 0 0;}
      @media screen and (min-width: 721px) {font-size: 1.8rem;margin: 2.9rem 0 0 0;}
      @media screen and (min-width: 961px) {font-size: 1.8rem;margin: 3.1rem 0 0 0;}
      @media screen and (min-width: 1201px) {font-size: 1.9rem;margin: 3.4rem 0 0 0;}
      @media screen and (min-width: 1441px) {font-size: 2rem;margin: 3.7rem 0 0 0;}
      @media screen and (min-width: 1681px) {font-size: 2.1rem;margin: 4rem 0 0 0;}
      @media screen and (min-width: 1921px) {font-size: 2.4rem;margin: 4.5rem 0 0 0;}
      @media screen and (min-width: 2161px) {font-size: 2.6rem;margin: 5rem 0 0 0;}
      @media screen and (min-width: 2401px) {font-size: 2.9rem;margin: 5.5rem 0 0 0;}
      @media screen and (min-width: 2641px) {font-size: 3.2rem;margin: 6rem 0 0 0;}
      @media screen and (min-width: 2881px) {font-size: 3.4rem;margin: 6.5rem 0 0 0;}
      @media screen and (min-width: 3121px) {font-size: 3.7rem;margin: 7rem 0 0 0;}
      @media screen and (min-width: 3361px) {font-size: 3.9rem;margin: 7.5rem 0 0 0;}
      @media screen and (min-width: 3601px) {font-size: 4.2rem;margin: 8rem 0 0 0;}

      &::selection {
        background-color: rgba(var(--contact-color-2), 1);
        color:  rgba(var(--contact-color-1), 1);
      }
    }
  }

  // Conditionaly Rendered CSS
  .contact-anchor {
    position: absolute;
    height: 0;
    top: -6.6rem;

    @media screen and (min-width: 481px) and (min-height: 241px) {top: -7.8rem;}
    @media screen and (min-width: 721px) and (min-height: 481px) {top: -8.4rem}
    @media screen and (min-width: 961px) and (min-height: 721px)  {top: 0;}
  }
  
  .contact-anchor-none {
    position: absolute;
    height: 0;
    top: 0rem;
  }