// Banner Intro Animations
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes flyFromLeft {
  0% {
    transform: translateX(-25vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes flyFromRight {
  0% {
    transform: translateX(25vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes flyFromBottom {
  0% {
    transform: translateY(100vw);
  }
  100% {
    transform: translateY(0);
  }
}

.banner {
  background-color: rgba(var(--banner-color-1), 1);
  position: relative;
  overflow: hidden;

  .background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    animation: zoomIn 20s linear 1.7s both;
  }

  .color-overlay {
    background-color: rgba(var(--banner-color-1), var(--banner-transparency));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .heading {
      display: flex;
      flex-direction: column;

      .name {
        filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, .6));
        transform: translateX(-100vw);
        font-weight: 650;
        animation: flyFromLeft .5s ease 2.2s both;

        font-size: 4.5rem;

        @media screen and (min-width: 481px) {font-size: 5.8rem;}
        @media screen and (min-width: 721px) {font-size: 6.4rem;}
        @media screen and (min-width: 961px) {font-size: 7.1rem;}
        @media screen and (min-width: 1201px) {font-size: 7.7rem;}
        @media screen and (min-width: 1441px) {font-size: 8.4rem;}
        @media screen and (min-width: 1681px) {font-size: 9rem;}
        @media screen and (min-width: 1921px) {font-size: 10.1rem;}
        @media screen and (min-width: 2161px) {font-size: 11.3rem;}
        @media screen and (min-width: 2401px) {font-size: 12.4rem;}
        @media screen and (min-width: 2641px) {font-size: 13.5rem;}
        @media screen and (min-width: 2881px) {font-size: 14.6rem;}
        @media screen and (min-width: 3121px) {font-size: 15.8rem;}
        @media screen and (min-width: 3361px) {font-size: 16.9rem;}
        @media screen and (min-width: 3601px) {font-size: 18rem;}

        span {
          color: rgba(var(--banner-color-2), 1);

          &::selection {
            background-color: rgba(var(--banner-color-2), 1);
            color:  rgba(var(--banner-color-1), 1);
          }
        }
      }

      .description {
        filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, .6));
        transform: translateX(100vw);
        font-weight: 225;
        font-size: 2.3rem;
        text-align: right;
        animation: flyFromRight .5s ease 2.7s both;

        letter-spacing: .3rem;

        @media screen and (min-width: 481px) {font-size: 2.9rem; letter-spacing: .3rem;}
        @media screen and (min-width: 721px) {font-size: 3.2rem; letter-spacing: .3rem;}
        @media screen and (min-width: 961px) {font-size: 3.5rem; letter-spacing: .3rem;}
        @media screen and (min-width: 1201px) {font-size: 3.9rem; letter-spacing: .3rem;}
        @media screen and (min-width: 1441px) {font-size: 4.2rem; letter-spacing: .3rem;}
        @media screen and (min-width: 1681px) {font-size: 4.5rem; letter-spacing: .4rem;}
        @media screen and (min-width: 1921px) {font-size: 5.1rem; letter-spacing: .4rem;}
        @media screen and (min-width: 2161px) {font-size: 5.6rem; letter-spacing: .5rem;}
        @media screen and (min-width: 2401px) {font-size: 6.2rem; letter-spacing: .5rem;}
        @media screen and (min-width: 2641px) {font-size: 6.8rem; letter-spacing: .6rem;}
        @media screen and (min-width: 2881px) {font-size: 7.3rem; letter-spacing: .6rem;}
        @media screen and (min-width: 3121px) {font-size: 7.9rem; letter-spacing: .7rem;}
        @media screen and (min-width: 3361px) {font-size: 8.4rem; letter-spacing: .7rem;}
        @media screen and (min-width: 3601px) {font-size: 9rem; letter-spacing: .8rem;}

        span {
          color: rgba(var(--banner-color-2), 1);

          &::selection {
            background-color: rgba(var(--home-color-2), 1);
            color:  rgba(var(--home-color-1), 1);
          }
        }
      }

      .icons {
        display: flex;
        justify-content: center;

        .github-icon {
          animation: flyFromLeft .5s ease 3.2s both;
        }

        .linkedin-icon {
          animation: flyFromRight .5s ease 3.2s both;
        }

        .icon {
          display: none;
          filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, .3));
          border: 1px solid rgba(var(--banner-color-2), 1);
          border-radius: 50%;
          padding: 1.2rem;
          margin: 1.2rem;
          color: rgba(var(--banner-color-2), 1);
          font-size: 2.4rem;
          transition: all .2s ease;

        @media screen and (min-height: 481px) {display: block;}

        @media screen and (min-width: 481px) {border: 1px solid rgba(var(--banner-color-2), 1); padding: 1.2rem; margin: 1.2rem; font-size: 2.5rem;}
        @media screen and (min-width: 721px) {border: 1px solid rgba(var(--banner-color-2), 1); padding: 1.2rem; margin: 1.2rem; font-size: 2.6rem;}
        @media screen and (min-width: 961px) {border: 1px solid rgba(var(--banner-color-2), 1); padding: 1.2rem; margin: 1.2rem; font-size: 2.7rem;}
        @media screen and (min-width: 1201px) {border: 2px solid rgba(var(--banner-color-2), 1); padding: 1.2rem; margin: 1.2rem; font-size: 2.8rem;}
        @media screen and (min-width: 1441px) {border: 2px solid rgba(var(--banner-color-2), 1); padding: 1.2rem; margin: 1.2rem; font-size: 2.9rem;}
        @media screen and (min-width: 1681px) {border: 3px solid rgba(var(--banner-color-2), 1); padding: 1.2rem; margin: 1.2rem; font-size: 3rem;}
        @media screen and (min-width: 1921px) {border: 3px solid rgba(var(--banner-color-2), 1); padding: 1.35rem; margin: 1.35rem; font-size: 3.375rem;}
        @media screen and (min-width: 2161px) {border: 3px solid rgba(var(--banner-color-2), 1); padding: 1.5rem; margin: 1.5rem; font-size: 3.75rem;}
        @media screen and (min-width: 2401px) {border: 4px solid rgba(var(--banner-color-2), 1); padding: 1.65rem; margin: 1.65rem; font-size: 4.125rem;}
        @media screen and (min-width: 2641px) {border: 4px solid rgba(var(--banner-color-2), 1); padding: 1.8rem; margin: 1.8rem; font-size: 4.5rem;}
        @media screen and (min-width: 2881px) {border: 4px solid rgba(var(--banner-color-2), 1); padding: 1.95rem; margin: 1.95rem; font-size: 4.875rem;}
        @media screen and (min-width: 3121px) {border: 5px solid rgba(var(--banner-color-2), 1); padding: 2.1rem; margin: 2.1rem; font-size: 5.25rem;}
        @media screen and (min-width: 3361px) {border: 5px solid rgba(var(--banner-color-2), 1); padding: 2.25rem; margin: 2.25rem; font-size: 5.625rem;}
        @media screen and (min-width: 3601px) {border: 6px solid rgba(var(--banner-color-2), 1); padding: 2.4rem; margin: 2.4rem; font-size: 6rem;}

          &:hover {
            cursor: pointer;
            background-color: rgba(var(--banner-color-2), 1);
            color: rgba(var(--banner-color-1), 1);
          }
        }
      }
    }
  }
}